.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.home-wrapper {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.stat-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 200px;
  margin-bottom: 10px;
}

.progress {
  width: 100%;
  margin-bottom: 10px;
}

.text {
  font-size: 12px;
}
